@page "/configuration"
@using PlantMonitorWebApp.Shared
@inject HttpClient Http

<PageTitle>Sensor configuration</PageTitle>

<h1>Configuration</h1>

<p>Here we should allow addition and subtraction of surveilled sensors</p>

@code {

}
