@page "/surveillance"
@using PlantMonitorWebApp.Shared
@using PlantMonitorWebApp.Shared.Plants
@using PlantMonitorWebApp.Shared.TestClasses
@inject HttpClient Http

<PageTitle>Plant surveillance</PageTitle>

<h1>Surveillance</h1>

<p>Here we could put in a table view</p>

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="5" AllowPaging="true" AllowSorting="true"
                Data="@plants" TItem="PlantConfiguration" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="PlantConfiguration" Property="Name" Filterable="true" Title="Name" Frozen="true" Width="140px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="PlantConfiguration" Property="Description" Title="Beschreibung" Frozen="true" Width="140px" />
    </Columns>
</RadzenDataGrid>


@code {
    private IEnumerable<PlantConfiguration>? plants;

    protected override void OnInitialized()
    {
        plants = TestPlantProvider.GetTestPlantConfigurations();
    }
}